# Data exploration

In [9]:
# Install required libraries (run once)
#!pip install pandas openpyxl

In [4]:
fose_data_path="data/FOSE2026data.xlsx"

In [30]:
import pandas as pd

# Read Excel file
# For .xlsx files (Excel 2007+)
df = pd.read_excel(fose_data_path)

# For .xls files (older Excel format)
# df = pd.read_excel('your_file.xls', engine='xlrd')

# Display first few rows
df.head()

,Introduction,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,Survey,ICSE 2026 Future of Software Engineering track...
2,NaN,Username,andre@uci.edu
3,NaN,Options,NaN
4,NaN,Include Raw Data,true

# Research Interest

In [31]:
def get_research_interest_data(sheet_name):
    df = pd.read_excel(
    fose_data_path,
    sheet_name=sheet_name,
    header=0,              # Row to use as column names (0 = first row)
    skiprows=6,            # Number of rows to skip at the start
    nrows=500,             # Number of rows to read (optional)
    usecols='B:C',         # Columns to read (e.g., 'A:C' or [0, 1, 2])
    engine='openpyxl'      # Engine for .xlsx files
)
    return df

In [ ]:
research_interests = get_research_interest_data('Q6')
research_interests.head()

,Unnamed: 1,What is your area (or are your areas) of research? Simple keywords will suffice.
0,192063126,Software engineering and society
1,192065107,"Empirical, AI4SE"
2,192082119,"software testing, software quality"
3,192094513,Empirical Software Engineering
4,192101862,"Software Debugging, Verification, Testing"

# Worked well for SE

In [33]:
def get_worked_well_for_se_data(sheet_name):
    df = pd.read_excel(
    fose_data_path,
    sheet_name=sheet_name,
    header=0,              # Row to use as column names (0 = first row)
    skiprows=6,            # Number of rows to skip at the start
    nrows=500,
    usecols='B:C',
    engine='openpyxl')
    return df

In [34]:
worked_well_for_se = get_worked_well_for_se_data('Q7')
worked_well_for_se.head()

,Unnamed: 1,"What aspect or aspects of the software engineering research community work well, and why?"
0,192063126,NaN
1,192065107,In-Person conferences are still a delight for ...
2,192082119,Mostly open community. Vibrant events. Lots of...
3,192094513,I would say we do well on empirical studies de...
4,192101862,NaN

# Do not work well

In [35]:
def get_do_not_work_well_for_se_data(sheet_name):
    df = pd.read_excel(
    fose_data_path,
    sheet_name=sheet_name,
    header=0,              # Row to use as column names (0 = first row)
    skiprows=6,            # Number of rows to skip at the start
    nrows=500,
    usecols='B:C',
    engine='openpyxl')
    return df

In [36]:
do_not_work_well_for_se = get_do_not_work_well_for_se_data('Q8')
do_not_work_well_for_se.head()

,Unnamed: 1,"What aspect or aspects of the software engineering research community do not work well, and why?"
0,192063126,NaN
1,192065107,This is a personal vendetta but we're we're no...
2,192082119,Reviewing process: - quality of reviews is not...
3,192094513,Adopting new technologies. Let's say NLP commu...
4,192101862,NaN

# One change to make

In [37]:
def get_one_change_to_make_data(sheet_name):
    df = pd.read_excel(
    fose_data_path,
    sheet_name=sheet_name,
    header=0,              # Row to use as column names (0 = first row)
    skiprows=6,            # Number of rows to skip at the start
    nrows=500,    
    usecols='B:C',
    engine='openpyxl')
    return df

In [38]:
one_change_to_make = get_one_change_to_make_data('Q9')
one_change_to_make.head()

,Unnamed: 1,"If you could make one change, what would you change and what outcome from that change would you like to see in the software engineering research community?"
0,192063126,NaN
1,192065107,I do away with all of our program committees a...
2,192082119,NaN
3,192094513,Be open to adopting new technologies and not t...
4,192101862,NaN

# Joy

In [39]:
def get_joy_data(sheet_name):
    df = pd.read_excel(
    fose_data_path,
    sheet_name=sheet_name,
    header=0,              # Row to use as column names (0 = first row)
    skiprows=6,            # Number of rows to skip at the start
    nrows=500,    usecols='B:C',
    engine='openpyxl')
    return df

In [40]:
joy_data = get_joy_data('Q10')
joy_data.head()

,Unnamed: 1,"What aspect or aspects of your work bring you the greatest joy, and how often do you feel you are able to engage with that aspect or aspects?"
0,192063126,Interaction with students and with society
1,192065107,Discovering new things and sharing it with others
2,192082119,Mentoring students & knowledge discovery.
3,192094513,Connecting with like minded researchers on the...
4,192101862,NaN

# Stress

In [41]:
def get_stress_data(sheet_name):
    df = pd.read_excel(
    fose_data_path,
    sheet_name=sheet_name,
    header=0,              # Row to use as column names (0 = first row)
    skiprows=6,            # Number of rows to skip at the start
    nrows=500,    usecols='B:C',
    engine='openpyxl')
    return df

In [42]:
stress_data = get_stress_data('Q11')
stress_data.head()

,Unnamed: 1,What aspects of being in the software engineering research community cause the greatest amount of stress for you?
0,192063126,Icse is stressful when it is not in Europe. I ...
1,192065107,NaN
2,192082119,Too many papers to reviews. Difficulty finding...
3,192094513,Not being open to new ideas until it's three y...
4,192101862,NaN

# Mentee suggestion

In [43]:
def get_mentee_suggestion_data(sheet_name):
    df = pd.read_excel(
    fose_data_path,
    sheet_name=sheet_name,
    header=0,              # Row to use as column names (0 = first row)
    skiprows=6,            # Number of rows to skip at the start
    nrows=500,    usecols='B:C',
    engine='openpyxl')
    return df

In [44]:
mentee_suggestion = get_mentee_suggestion_data('Q12')
mentee_suggestion.head()

,Unnamed: 1,"When it comes to your current or future mentees (e.g., colleagues, junior faculty, postdoctoral researchers, students, fellow students), what concerns you the most about their future as members of our community and your ability to prepare them for it?"
0,192063126,That there will be less jobs
1,192065107,NaN
2,192082119,Low quality reviews is something that I feel g...
3,192094513,"Not blinding hating or loving generative AI, r..."
4,192101862,NaN

# Response ID and User

In [45]:
def get_response_id_user_data(sheet_name):
    df = pd.read_excel(
    fose_data_path,
    sheet_name=sheet_name,
    header=0,              
    nrows=500, 
    usecols='A:L',
    engine='openpyxl')
    return df

In [46]:
response_id_user = get_response_id_user_data('Raw Data')
response_id_user.head()
response_id_user = response_id_user.drop(['Response Status', 'Timestamp (mm/dd/yyyy)', 'Time Taken to Complete (Seconds)'], axis=1)

In [57]:
def get_response_id_user_keyvalue_pair(response_id_user):
    # Inspect the columns to identify the response ID column
    print("Columns:", response_id_user.columns.tolist())
    print("\nFirst few rows:")
    response_id_user.head()
    # Create key-value pair: response ID as key, first non-NaN value from same row as value
    # Assuming the first column is the response ID, adjust if needed
    response_id_col = response_id_user.columns[0]  # Change this if response ID is in a different column

    # Create dictionary with response ID as key and first non-NaN value as value
    response_id_dict = {}

    for idx, row in response_id_user.iterrows():
        response_id = row[response_id_col]
    
    # Find first non-NaN value in the row (excluding the response ID column)
        other_cols = [col for col in response_id_user.columns if col != response_id_col]
        non_nan_value = None
    
        for col in other_cols:
            if pd.notna(row[col]):
                non_nan_value = row[col]
                break
    
    # Only add to dict if we found a non-NaN value
        if non_nan_value is not None:
            response_id_dict[response_id] = non_nan_value
    
    return response_id_dict

In [59]:
response_id_dict = get_response_id_user_keyvalue_pair(response_id_user)
for i, (key, value) in enumerate(list(response_id_dict.items())[:5]):
    print(f"{key}: {value}")

Columns: ['Response ID', 'What is your primary role (or are your primary roles)? - Practitioner', 'What is your primary role (or are your primary roles)? - Industrial researcher', 'What is your primary role (or are your primary roles)? - Tenured university faculty member', 'What is your primary role (or are your primary roles)? - Untenured university faculty member', 'What is your primary role (or are your primary roles)? - Postdoctoral researcher', 'What is your primary role (or are your primary roles)? - Graduate student', 'What is your primary role (or are your primary roles)? - Undergraduate student', 'What is your primary role (or are your primary roles)? - Other']

First few rows:
192063126: Tenured university faculty member
192065107: Industrial researcher
192082119: Tenured university faculty member
192094513: Practitioner
192101862: Untenured university faculty member